<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registered Agents
        link(rel="stylesheet", href="/main css/agentlist")
        link(rel="stylesheet", href="/main css/bootstrap.min.css")
    body
        h2(style="text-align: center;") Registered Agents.
        button.btn#add(style="background-color: rgb(6,6,22)")
            a(href="/register", style="color: white") Add New Sales Agents
        br
        .container
            table.table
                thead.thead-dark
                    tr
                        th First name
                        th Last name
                        th User name
                        th Email
                        th Date of Birth
                        th Gender
                        th NIN 
                        th PhoneNumber
                        th
                        
                tbody

                    each agent in agents

                        tr
                            td #{agent.fname}
                            td #{agent.lname}
                            td #{agent.username}
                            td #{agent.email}
                            td #{agent.birthday}
                            td #{agent.gender}
                            td #{agent.nationalid}
                            td #{agent.phoneNumber}
                            td 
                            
                                form(method="post" action='/register/delete')
                                    input(type="hidden", placeholder="", name="id", value=agent._id)
                                    button.btn.btn-dark.btn-block(type="submit") Delete 

                
    //- button.btn.btn-primary#add
    //-     a(href="/register", style="color: white") Add New Sales Agents
    //- br
    footer(#footer,style="color: white; background-color: rgb(6,6,22); text-align: center;" class="fixed-bottom") Copyright © 2020 All rights reserved by Walter.