<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registered Customers
        link(rel="stylesheet", href="/main css/agentlist.css")
        link(rel="stylesheet", href="/main css/bootstrap.min.css")
    body
        h2(style="text-align: center;") Registered Customers.
        button.btn#add(style="background-color: rgb(6,6,22)")
            a(href="/login/customer", style="color: white") Add New Customer.
        br
        .container
            table.table
                thead.thead-dark
                    tr
                        th Full name
                        //- th Location
                        th Phone Number
                        th Email
                        th Initial Pay
                        th National ID
                        th Gender 
                        th Item Name
                        th Serial Number
                        th Date of Next Payment
                        th Amount Payable
                        th Referee No
                        th Purchase Receipt
                        th
                        
                tbody

                    each customer in customers

                        tr
                            td #{customer.fullname}
                            //- td #{customer.location}
                            td #{customer.phoneNumber}
                            td #{customer.email}
                            td #{customer.initialPay}
                            td #{customer.nationalid}
                            td #{customer.gender}
                            td #{customer.itemName}
                            td #{customer.serialNumber}
                            -var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            -var month = monthNames[customer.dateN.getMonth()];
                            -var day = customer.dateN.getDate()
                            -var year = customer.dateN.getFullYear()
                            td #{day}-#{month}-#{year}
                            td #{customer.amountPayable}
                            td #{customer.refereeNumber}
                            td #{customer.purchaseReceipt}
                            td
                            
                                form(method="post" action='/login/delete')
                                    input(type="hidden", placeholder="", name="id", value=customer._id)
                                    button.btn.btn-dark.btn-block(type="submit") Delete 

                
    //- button.btn.btn-primary#add
    //-     a(href="/register", style="color: white") Add New Sales Agents
    //- br
    footer(#footer,style="color: white; background-color: rgb(6,6,22); text-align: center;" class="fixed-bottom") Copyright © 2020 All rights reserved by Walter.